/* Table setting */
.main-table {
  width: 100%;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 20px;


}
.main-table th {
  text-align: left;
  height: 48px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

}
th, td {
  vertical-align: middle;
  border-bottom: 1px solid #ededed;
}
.main-table td {
  height: 72px;
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

td:first-child, th:first-child {
  padding-left: 24px;
}

td:last-child {
  text-align: right;
  padding-right: 10px;

}
